.container-cards {
  display: flex;
  justify-content: center;
  padding: 1rem;
  &__budget {
    min-height: 25vh;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 24px 0 rgba(22, 127, 130, 0.3);
    &--title {
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold;
      margin: 1rem;
      color: #167f82;
    }

    &--value {
      font-size: 1.8rem;
      color: #167f82;
      font-weight: 600;
      margin-left: 1rem;
    }

    &--buttons {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-around;
      margin: 0 1rem;
      button {
        border-radius: 5px;
        width: 25vh;
        padding: 1.5rem;
      }
    }

    &--content {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 0.5rem;

      &__item {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        border: 3px solid #ccc;
        margin: 0 1rem 1rem 1rem;
        background-color: #167f82;
        color: #fff;
        border-radius: 1rem;
        backdrop-filter: blur(20px);

        &--icons {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          gap: 0.5rem;
        }
      }
    }
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}
