.accounts-payable {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;

  &__title {
    color: #167f82;
    margin-bottom: 1rem;
  }

  &__form {
    &-button {
      width: 40%;
      height: 3rem;
      border-radius: 6px;
    }

    &-button:hover {
      background-color: #167f82 !important;
      color: #fff !important;
    }
  }

  &__input-money {
    border-radius: 30px;
    border: 2px solid #ccc;
    padding: 0.6rem;
    font-size: 16px;
    width: 100%;

    &:focus {
      border-color: #167f82;
      box-shadow: 0 0 0 2px rgba(0, 90, 173, 0.2);
    }
  }
}
